@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Nano+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* index.css */
/* index.css */
.circular-progress {
    position: relative;
  }
  
  .circular-progress svg {
    transform: rotate(-90deg); /* Rotate the SVG to start the progress at the top */
  }
  
  .circle-bg {
    fill: none;
    stroke: #e6e6e6; /* Light gray background for the circle */
    stroke-width: 10;
  }
  
  .circle {
    fill: none;
    stroke: #FEBE10; /* Main progress color */
    stroke-width: 10;
    stroke-dasharray: 314; /* Circumference value */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s;
  }
  
  .bar {
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 314; /* Circumference value */
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s;
  }
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: bold;
  }
  /* Parent container should have perspective for 3D effect */
  /* styles.css */

.profile-container {
  perspective: 1000px; /* Adds depth to the 3D effect */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for demonstration */
}

.profile-photo {
  width: 240px; /* Adjust size as needed */
  height: 240px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px double #6D28D9; /* Purple border */
  transition: transform 0.1s; /* Smooth transition for tilting effect */
}



/* styles.css */

.underline-custom {
  text-decoration: underline;
  text-decoration-color: #F59E0B; /* Custom color for the underline */
  text-decoration-thickness: 2px; /* Adjust thickness */
}

  
    

  
  
  